.card{
    border-radius: 10px;
    width: 300px;
    padding: 20px 0px 2px 10px;
    margin-bottom: 10px;
}

.bandCard {
   max-width: 100%;
   width: 60px;
   margin-left: 220px;
}

.numCard {
    font-size: 25px;
    margin-left: 20px;
}

.infosNum {
    margin-top: 30px;
    margin-left: 9px;
}


.bankCard {
    margin-left: 30px;
}

.ownCard {
    margin-left: 9px;
    margin-top: 5px;

}